<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Exam Date</mat-label>
      <input matInput type="date" formControlName="examDate">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="registerForm.invalid">Register</button>
    <button mat-raised-button *ngIf="student" (click)="onEdit()">Edit</button>
  </form>